<main>
  <div class="container px-5 px-sm-2">
    <div class="row">
      <!--スマホ画面: col-12　タブレット画面: col-md-4　パソコン画面: col-lg-3-->
      <div class="col-12 col-md-4 col-lg-3">
        <%= render "layouts/sidebar" %>
      </div>
        <!--スマホ画面: col-12　タブレット画面: col-md-8　パソコン画面: col-lg-9-->
        <div class="col-12 col-md-8 col-lg-9 pt-4">
      <h2>みんなの投稿</h2>
        <div class="text-dark">
          <div class="row">
            <% @toukens.each do | touken | %>
            <div class="col-lg-4">
                <div class="card mx-1 mb-2">
                  <%= image_tag touken.image.variant(resize: '200x200') %>
                  <div class="card-body">
                    <h6 class="small text-secondary">題名</h6>
                      <h5 class="card-title">
                        <%= link_to touken_path(touken) do %>
                          <%= touken.title %>
                        <% end %>
                      </h5>
                    <div class="card-text">
                      <h6 class="small text-secondary">内容</h6>
                      <!--長文で文字列が20文字以上の場合「...」表示にする記述: truncate(20)-->
                      <%= touken.body.truncate(20) %>
                    </div>
                  </div>
                  <div class="card-footer">
                    <div class="d-flex justify-content-between">
                      <div id="favorite_buttons_<%= touken.id %>">
                        <%= render "favorites/favorite", touken: touken %>
                      </div>
                      <div>
                        <small>
                          <%= link_to "#{touken.touken_comments.count} コメント", touken_path(touken.id) %>
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>