<main>
  <div class= "container">
    <div class="row">
      <div class= "col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>新規投稿</h1>
        <%= form_with model: @touken, multipart: true do |f|%>
         <div class="form-group">
            <label for="touken_title">題名</label><br>
            <%= f.text_field :title%>
         </div>
         <div class="form-group">
            <label for="touken_body">投稿内容</label><br>
            <%= f.text_area :body%>
         </div>
         <div class="form-group">
            <label for="image">画像</label><br>
            <%= f.file_field :image, accept: "image/*"  %>
         </div>
         <div class="form-group">
            <%= f.submit'投稿する' %>
         </div>
        <% end %>
       </div>
    </div>
  </div>
</main>