<main>
  <div class="container">
    <% if @touken.errors.any? %>
          <%= @touken.errors.count %>件のエラーが発生しました
          <ul>
            <% @touken.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-3 px-5 px-sm-0 mx-auto pt-4">
  <h1>新規投稿</h1>
        <%= form_with model: @touken, multipart: true do |f|%>
           <div class="form-group">
              <label for="touken_title">題名</label><br>
              <!--入力ボックスにデザイン性を持たせる記述：(class: 'form-control')-->
              <%= f.text_field :title, class: 'form-control' %>
           </div>
           <div class="form-group">
              <label for="touken_body">投稿内容</label><br>
              <!--入力ボックスにデザイン性を持たせる記述：(class: 'form-control')-->
              <%= f.text_area :body, class: 'form-control' %>
           </div>
           <div class="form-group">
              <label for="image">画像</label><br>
              <%= f.file_field :image, accept: "image/*"%>
           </div>
           <div class="form-group">
              <label for="genre">ジャンルを選択</label><br>
              <%= f.select :genre_id, Genre.order(:id).pluck(:name, :id), {include_blank: 'ジャンル'} %>
           </div>
           <div class="form-group">
              <%= f.submit "投稿", class: 'btn btn-outline-secondary btn-block'%>
           </div>
        <% end %>
      </div>
    </div>
  </div>
</main>