<main>
  <div class="container px-5 px-sm-0">
      <div>
        <%= flash[:notice] %>
      </div>
    <div class="row">
     <!--スマホ画面: col-12　タブレット画面: col-md-4　パソコン画面: col-lg-3-->
     <div class="col-12 col-md-4 col-lg-3">
       <%= render "layouts/sidebar" %>
     </div>
    <!--スマホ画面: col-12　タブレット画面: col-md-8　パソコン画面: col-lg-9-->
    <div class="col-12 col-md-8 col-lg-9 mt-3">
      <h2><%= @user.name %>さんの投稿詳細</h2>
        <div class="card-group text-dark">
      <!--<table class="table">-->
      <!--   <tbody>-->
      <!--     <tr>-->
      <!--        <th>ユーザー名</th>-->
      <!--        <th>ジャンル</th>-->
      <!--        <th>題名</th>-->
      <!--        <th>内容</th>-->
      <!--        <th>いいね</th>-->
      <!--        <th>写真</th>-->
      <!--        <th>コメント件数</th>-->
          <% if @touken.user == current_user %>
            <div class="card mb-4">
              <%= image_tag @touken.image.variant(resize: '2048x2048^').processed %>
              <div class="card-body">
                <h6 class="small text-secondary">ジャンル</h6>
                  <%= @touken.genre.name%>
                <div class="my-2">
                  <h6 class="small text-secondary">題名</h6>
                  <h5 class="card-title"><%= @touken.title %></h5>
                </div>
                <p class="card-text">
                  <h6 class="small text-secondary">投稿内容</h6>
                  <%= simple_format(@touken.body) %>
                </p>
                <% if @touken.user == current_user %>
                  <%= link_to "投稿編集", edit_touken_path(@touken) %>
                    |
                  <%= link_to "削除する", touken_path(@touken), method: :delete %>
                <% end %>
              </div>
              <div id="favorite_buttons_<%= @touken.id %>" class="card-footer">
                <%= render "favorites/favorite", touken: @touken %>
              </div>
            </div>
          <% end %>
        </div>
      <!--     </tr>-->
      <!--     <tr>-->
      <!--       <td>-->
      <!--        <%= link_to user_path(@user.id) do %>-->
      <!--          <%= @user.name%>-->
      <!--        <% end %>-->
      <!--       </td>-->
      <!--       <td><%= @touken.genre.name%></td>-->
      <!--       <td><%= @touken.title %></td>-->
      <!--       <td><%= @touken.body %></td>-->
      <!--       <td id="favorite_buttons_<%= @touken.id %>">-->
      <!--         <%= render "favorites/favorite", touken: @touken %>-->
      <!--       </td>-->
      <!--       <td><%= image_tag @touken.image.variant(resize: '200x200') %></td>-->
      <!--       <td><%= @touken.touken_comments.count %></td>-->
      <!--        <% if @touken.user == current_user %>-->
      <!--          <td><%= link_to "投稿編集" ,edit_touken_path(@touken) %></td>-->
      <!--          <td><%= link_to "削除する", touken_path(@touken), method: :delete %></td>-->
      <!--        <% end %>-->
      <!--     </tr>-->
      <!--   </tbody>-->
      <!-- </table>-->
       <div class="touken-comments-index text-dark">
         <% @touken.touken_comments.each do |touken_comment| %>
           <div class="card mb-1 ms-auto">
             <div class="card-header">
               <%= touken_comment.user.name %>さんのコメント
             </div>
             <div class="card-body">
               <%= simple_format(touken_comment.comment) %>
             </div>
             <div class="card-footer text-right">
               <% if touken_comment.user == current_user %>
                <%= link_to "コメント削除", touken_touken_comment_path(touken_comment.touken.id,touken_comment.id), method: :delete, remote: true %>
               <% end %>
             </div>
           </div>
         <% end %>
       </div>
        <div class="row">
          <div class="col-12 col-md-8 pt-4">
           <%= form_with model:[@touken, @touken_comment], local: false do |f| %>
             <%= f.text_area :comment, :size => "70x4", class: "form-control", placeholder:"コメントを入力して下さい"%><br>
             <%= f.submit "送信", class: "btn btn-outline-secondary" %>
           <% end %>
          </div>
        </div>
     </div>
    </div>
  </div>
</main>
