<main>
 <p id= "notice"></p>
   <div class="container">
     <div class="row">
      <div>
        <%= flash[:notice] %>
       </div>
        <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
          <% if @user.errors.any? %>
            <%= @user.errors.count %>errors prohibited this obj from being saved:
             <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% end %>
    <h2>User info</h2>
        <%= form_with model: @user do |f| %>
          <label for="userName">ユーザ名</label><br>
           <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"ユーザー名を入力" %><br>
          <label for="userBody">自己紹介</label><br>
           <%= f.text_area :introduction %><br>
         <%= f.submit "更新する" %>
        <% end %>
       </div>
     </div>
   </div>
</main>