<main>
  <div>
    <div class="pt-2">
    <%= form_with url: toukens_path, :id => "form", local: true, method: :get do |form| %>
      <%= form.text_field :keyword, :placeholder => "入力して下さい ", class: 'sbox form-control' %>
      <%= form.select :range, options_for_select([[ 'ユーザー','User'], ['刀剣','Touken']]) %>
      <%= form.submit '検索', class: 'side-btn' %>
    <% end %>
    </div>
    <div class="pt-3">
     <h5>ジャンル</h5>
      <!--<div class="d-flex d-md-block">-->
        <% @genres.each do |genre| %>
          <!--<div>-->
            <%= link_to genre.name, genre_toukens_path(genre), class: "side-genre d-inline-block d-md-block", style: 'color: #FC2705;' %>
          <!--</div>-->
        <% end %>
      <!--</div>-->
    </div>
  </div>
</main>