<!DOCTYPE html>
<html>
   <head>
     <title>刀剣同好会</title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
       <%= csrf_meta_tags %>
       <%= csp_meta_tag %>

       <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
       <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
       <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
   </head>
  <body>
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">

        <%= link_to "/" do %>
          <%= image_tag "刀剣 (2).png", class: "touken" %>
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
           <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "ユーザー詳細", user_path(current_user), class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "新規投稿", new_touken_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "情報一覧", toukens_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "投稿者一覧", users_toukens_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "プロフィール編集", edit_user_path(current_user), class: 'nav-link' %>
            </li>
           <% else %>
            <li class="nav-item">
              <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: 'nav-link', method: :post %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", new_user_registration_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class: 'nav-link' %>
            </li>
           <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <!--<%# if flash[:notice] %>-->
    <!--   <div>-->
    <!--    <%#= flash[:notice] %>-->
    <!--  </div>-->
    <!--<%# end %>-->
    <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
    <footer>
      <div class="container mt-5">
       <div class="row">
        <div class="mx-auto">
        <p>刀剣同好会</p>
        </div>
       </div>
      </div>
    </footer>
  </body>
</html>